#edit2-pane{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10px;
}

#BgCircle1{
    -fx-fill:#FFAA5C;
}

#editprofile2-bg{
    -fx-background-color: linear-gradient(to bottom, #ffd4ad, #ffffff);
}

#profile-pic1 {
    -fx-fill: #ffaa5c;
    -fx-stroke-width: 2px;
  }
  
  #profile-pic2 {
    -fx-fill: #f9f8f0;
    -fx-stroke: null;
  }
  
  #username-rect {
    -fx-fill: #fdebda;
    -fx-stroke: null;
  }
  
  #name-rect{
    -fx-fill: #fdebda;
    -fx-stroke: null;
  }
  
  #gender-rect{
    -fx-fill: #fdebda;
    -fx-stroke: null;
  }
  #vacc-rect{
    -fx-fill: #fdebda;
    -fx-stroke: null;
  }
  
  #last-vecc-rect{
    -fx-fill: #fdebda;
    -fx-stroke: null;
  }
  
  #vacc-countdown-rect{
    -fx-fill: #fdebda;
    -fx-stroke: null;
  }

  #save-button{
      -fx-background-color: #FFFFFF;
      -fx-background-radius:100;
  }

  #edit-profile-button{
    -fx-background-color: #FFFFFF;
    -fx-background-radius:100;
  }

