#Bg {
  -fx-background-color: linear-gradient(to bottom, #ffd4ad, #ffffff);
}

#BgCircle1 {
  -fx-fill: #ffaa5c;
}

#middlePane {
  -fx-background-color: #ffffff;
  -fx-background-radius: 20px;
}

#profile-pic1 {
  -fx-fill: #ffaa5c;
  -fx-stroke-width: 2px;
}

#profile-pic2 {
  -fx-fill: #f9f8f0;
  -fx-stroke: null;
}

#username-rect {
  -fx-fill: #fdebda;
  -fx-stroke: null;
  -fx-effect: innershadow()
}
